*{
    transition: 0.3s;
}
body{
    position: relative;
}
a{
    cursor: pointer !important;
}
/* ############################################################ */
/* #################    Courses page Start    ################# */
/* ############################################################ */

#all-courses-preview{
    overflow: hidden;
    margin: 50px 0;
}

#all-courses-preview #side-navbar{
    width: 17%;
    padding: 0 5% 0 3%;
    
}
#all-courses-preview #side-navbar .line{
    width: 100%;
    height: 3px;
    background-color: var(--second-color);
    
    margin-bottom: 20px;
    
}
#all-courses-preview #side-navbar .nav-title  {
    color: var(--main-color);
    
    font-size: clamp(12px, calc(100vw * 0.017), 24px);
    font-weight: 700;
    font-style: normal;
    line-height: 21.99px;
    
    margin-bottom: 15px;
}
#all-courses-preview #side-navbar .nav-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#all-courses-preview #side-navbar a{
    display: block;
    color: var(--main-color);
    
    font-size: clamp(9.5px, calc(100vw * 0.012), 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 21.99px;
    
    text-decoration: none;
    transition: .3s;
}
#all-courses-preview #side-navbar .nav-content a:hover, #all-courses-preview #side-navbar .active{
    font-weight: 700;
    margin-right: -15px;
    padding-right: 15px;
    
    border-right: 2.5px solid #FD9802 !important;
}

#all-courses-preview #courses{
    width: 80%;
    padding-left: 7%;
}

#courses >*{
    width: 100%;
}
#courses .course{
    position: relative;
}
#courses .course .course-details .description .title{
    color: #000;
    text-align: right;
    font-size: clamp(16px, calc(100vw * 0.017), 24px);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-bottom: 20px;
} 
#courses .course .course-details .description .prent{
    width: 75%;
    color: #848484;
    
    text-align: right;
    font-size: clamp(12px, calc(100vw * 0.013), 18px);
    font-style: normal;
    font-weight: 400;
}
#courses .course .more{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 15px;
}
#courses .course .more a{
    color: var(--main-color);
}
#courses .course .title{
    color: #000;
    
    font-size: clamp(12px, calc(100vw * 0.013), 16px);
    font-weight: 700;
    line-height: 23.22px;
    font-style: normal;
    text-align: right;
}
#courses .course .title svg{
    width: clamp(10px, calc(100vw * 0.013), 16px);
    height: clamp(10px, calc(100vw * 0.013), 16px);
    transform: rotate(-90deg);
}

#courses .line{
    height: 2px;
    width: 164px !important;
    background-color: #FD9802; 
    
    margin: 5px 0 -25px 0;
}

#all-courses-preview .scroll-buttons {
   display: none;
}

.cont{
    width: auto;
    height: clamp(45px, calc(100vw * 0.05), 60px);
    border-radius: 8px;
    border: 2px solid black;
}
.page-item, .page-link, .page-link-nav{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none !important;

    width:  clamp(30px, calc(100vw * 0.042), 50px);
    height: 100%;

    color: var(--main-color);
}
.page-item-nav{
    width: 100%;
    height: 100%;
}
.page-item-nav h6{
    font-size: 13px;
}
.page-link-nav{
    width: 100%;
    height: 60% !important;
}
.page-link-nav svg{
    width: clamp(10px, calc(100vw * 0.012),14px);
    height: clamp(10px, calc(100vw * 0.012),14px);
    font-weight: 700;
}
.page-link{
    padding: 0 !important;
    background-color: transparent !important;
}
.page-item:hover{
    background-color: rgba(0, 0, 0, 0.07);
}
.page-link:hover, .page-item-nav:hover h6{
    color: var(--second-color);
    font-weight: 700;
}
.page-link:focus{
    box-shadow: none; /* remove outline */
}
.pagination-active{
    background-color: rgba(0, 0, 0, 0.07);
    border: 2px solid var(--main-color) !important;
    border-top: none !important;
    border-bottom: none !important;
}
.prev{
    width:  clamp(75px, calc(100vw * 0.083), 100px);
    margin-left: -1px;
}
.prev .page-link-nav{
    border-left: 0.5px solid var(--main-color) !important;
}
.next {
    width:  clamp(75px, calc(100vw * 0.083), 100px);
    margin-right: -1px;
}
.next .page-link-nav{
    border-right: 0.5px solid var(--main-color) !important;
}

#popup-navbar{
    display: none;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;

    width: 130px;
    height: 30px;

    position: fixed;
    z-index: 1000;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--main-color);
    filter: drop-shadow(0px 0px 12px var(--main-color));
}
#popup-navbar .button h3{
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: var(--White);

    margin: 0;
}

#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    transition: 0.5s ease-in;
}
/* ############################################################ */
/* #################  Courses page responsive ################# */

@media (width < 1135px) {
    #courses .card-container {
        flex-wrap: initial !important;
        overflow-x: scroll;
    }
    #courses .card-container::-webkit-scrollbar {
        display: none !important;
    }
    #courses .scroll-buttons {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        width: 100%;
        margin-top: -20px;
        margin-inline: auto;
    }
}

@media (width <= 768px) {
    #all-courses-preview{
        justify-content: end;
    }
    #all-courses-preview #side-navbar .nav-content a:hover, #all-courses-preview #side-navbar .active{
        margin: 0;
    }
    #side-navbar{
        width: 75vw !important;
        height: 85vh;

        position: fixed;
        z-index: 1001;

        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);

        background-color: #fff;
        padding: 50px 50px 120px 50px !important;

        transition: 0.5s ease-out;
    }
    #side-navbar h1{
        width: 85%;
        font-size: 20px !important;
    }
    #side-navbar a{
        font-size: 12px !important;
    }
    #nav-content{
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #courses{
        padding: 0 20px !important;
        width: 100vw !important;
    }
    #courses .header{
        margin-right: -10px;
    }
    #courses .header  img{
        width: 100vw;
    }
    #courses .course .course-details .description .title{
        margin-bottom: 30px;
    }
    #courses .course .course-details .description .prent{
        width: 100%;
    }
    #courses .course .more{
        top: 2px;
        margin-left: 10px;
    }
    #courses .line{
        position: absolute;
        top: 30px;
        right: -30px;
    }

    #popup-navbar{
        display: flex !important;
    }
    .close-popup{
        display: block !important;
    }
}