/* ############################################################## */
/* ################## Cart Upper-section Start ################## */
/* ############################################################## */
#cart{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    header{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(153, 153, 153, 0.50);
        
        h1{
            color: #5A5A5A;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
        }
    }
}


/* ######################################################## */
/* ################## Cart Courses Start ################## */
/* ######################################################## */
#cart {
    #cart-content {
        width: 100%;
        margin-top: 70px;

        h1, h4, h5, p {
            margin: 0;
        }
        .cart-element {
            width: 100%;
            
            display: flex;
            justify-content: flex-start;
            gap: 50px;
            
            padding-bottom: 70px;
            padding-right: clamp(30px, calc(100vw * 0.07), 100px);
            margin-bottom: 70px;

            border-bottom: 1px solid var(--second-color);
            
            .course-image{
                height: clamp(180px, calc(100vw * 0.1875), 240px);
                aspect-ratio: 370/336;

                background-image: url(../media/main/autocad.png);
                background-position: center;
                background-size: cover;
            }
            .course-details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                max-width: 700px;
                height: clamp(180px, calc(100vw * 0.1875), 240px);

                padding-left: 40px;

                h5 {
                    color: #000;
                    
                    font-size: clamp(12px, calc(100vw * 0.011), 16px);
                    font-weight: 400;
                    text-align: right;
                }
                h1 {
                    color: #000;
                    
                    font-size: clamp(20px, calc(100vw * 0.026), 30px);
                    font-weight: 400;
                    text-align: right;
                }
                h4 {
                    color: #000;
                    
                    font-size: clamp(14px, calc(100vw * 0.014), 18px);
                    font-weight: 400;
                    text-align: right;
                }
                p {
                    color: #848484;
                    
                    font-size: clamp(14px, calc(100vw * 0.014), 18px);
                    font-weight: 400;
                    text-align: right;
                }
                
                .price{
                    
                    h1{
                        color: #000;
                        
                        font-size: clamp(14px, calc(100vw * 0.014), 18px);
                        font-weight: 500;
                        text-align: right;
                    }
                    .before-after {
                        display: flex;
                        gap: 15px;
                        
                        .before{
                            position: relative;
                            color: #484F56;
                            
                            font-size: clamp(12px, calc(100vw * 0.011), 14px);
                            font-weight: 400;
                            text-align: right;
                        }
                        .before::after {
                            content: "";
                            display: block;
                            
                            width: 100%;
                            height: 1px;
                            
                            position: absolute;
                            top: 50%;
                            left: 0;
                            
                            background-color: #484F56;
                        }
                        .after{
                            color: #FD9802;
                            
                            font-size: clamp(12px, calc(100vw * 0.011), 14px);
                            font-weight: 600;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

/* ######################################################## */
/* ############## Cart Courses Responsive ################# */
@media screen and (width <= 768px) {
    #cart{
        #cart-content {
            margin-top: 20px;

            .cart-element {
                width: 100%;

                gap: clamp(10px, calc(100vw * 0.029), 30px);
                
                padding-right: 20px;
                padding-bottom: 25px;
                margin-bottom: 25px;

                border-bottom: 1px solid var(--second-color);
                
                .course-image{
                    height: clamp(70px, calc(100vw * 0.1875), 240px);
                }
                .course-details{
                    max-width: 100%;
                    height: clamp(100px, calc(100vw * 0.1875), 240px);
                    
                    padding-left: 20px;

                    h5 {
                        font-size: clamp(8px, calc(100vw * 0.014), 16px);
                    }
                    h1 {
                        font-size: clamp(14px, calc(100vw * 0.03125), 24px);
                    }
                    h4 {
                        font-size: clamp(6px, calc(100vw * 0.017), 18px);
                    }
                    p {
                        font-size: clamp(6px, calc(100vw * 0.017), 18px);
                    }
                    
                    .price{
                        
                        h1{
                            font-size: clamp(10px, calc(100vw * 0.017), 18px);
                        }
                        .before-after {
                            gap: 10px;
                            
                            .before{
                                font-size: clamp(8px, calc(100vw * 0.018), 14px);
                            }
                            .after{
                                font-size: clamp(8px, calc(100vw * 0.018), 14px);
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ############################################################## */
/* ################## Cart Lower-section Start ################## */
/* ############################################################## */
#cart {
    #cart-price{
        max-width: 600px;
        margin-bottom: 50px;
        padding-right: 100px;
        
        .breaf{
            
            h1{
                color: #000;
                font-size: 20px;
                
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
        .buttons{
            display: flex;
            justify-content: flex-start;
            gap: 15px;

            a{
                margin-bottom: 40px;
                
                p{
                    color: var(--White);
                    background-color: var(--second-color);
                    
                    font-size: clamp(12px, calc(100vw * 0.027), 15px);
                    font-weight: 500;
                    text-align: center;
                    
                    margin: 0;
                    padding: 8px 15px;
                }
            }
        }
        .prices{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            
            .price-line {
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                h1, p {
                    color: #000;
                    font-size: 20px;
                    font-weight: 650;
                    
                    
                    margin: 0;
                }
            }
            .line{
                width: 100%;
                height: 0.5px;
                background-color: #999999;
            }
        }
    }
    .submit{
        width: 100%;
        
        display: flex;
        justify-content: center;

        a{
            
            p{
                margin: 0;
                
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                
                background-color: var(--second-color);
                color: #FFF;
                
                padding: 10px 35px;
            }
        }
    }
}

/* ######################################################## */
/* ############## Cart Courses Responsive ################# */
@media screen and (width <= 768px) {
    #cart{
        #cart-price {
            max-width: 100vw;
            padding: 0 30px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .breaf{
                width: 100%;

                h1{
                    text-align: center;
                    font-size: clamp(12px, calc(100vw * 0.033), 16px);
                    font-weight: 700;
                }
            }
            .buttons{
                display: flex;
                justify-content: center;
                gap: 20px;

                button{
                    margin-left: 0;

                    p {
                        font-size: clamp(10px, calc(100vw * 0.027), 15px);
                    }
                }
            }
            .prices{
                max-width: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
    
                .price-line {
    
                    h1, p {
                        font-size: clamp(12px, calc(100vw * 0.033), 20px);
                    }
                }
            }
        }
        .submit{
            .submit-cart{
            
                p{
                    font-size: clamp(12px, calc(100vw * 0.03125), 24px);
                }
            }
        }
    }
}