/* ====================== GENERAL STUFF ====================== */
.checkout-container .line-breaker {
  width: 100%;
  height: 1px;
  background: #acacac;
  margin: 36px 0;
}

.checkout-container .right-section-wrapper,
.checkout-container .left-section-wrapper {
  padding: 48px;
  width: 570px;
}

.checkout-container h1 {
  margin-bottom: -20px;
  color: var(--Text, #0a0d13);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.48px;
}
/* ====================== checkout container & wrapper ====================== */
.checkout-container {
  padding: 50px 153px 50px 135px;
  direction: ltr;
  height: 100vh;
}

.checkout-wrapper {
  gap: 18px;
  height: 100%;
}

/* ====================== RIGHT SECTION ====================== */

.checkout-container .right-section {
  border: 1px solid #d9d9d9;
  background: #f9fafa;
  padding-top: 75px;
  padding-right: 130px;
}

/* ====================== product-wrapper ====================== */
.checkout-container .right-section .product-wrapper {
  gap: 1rem;
}

.checkout-container .right-section .product-wrapper img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  object-fit: cover;
}

.checkout-container .right-section .product-wrapper .product-title {
  color: var(--Text, #0a0d13);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .product-wrapper .product-desc {
  color: var(--Stroke, #acacac);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .product-wrapper .product-price {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== discount wrapper ====================== */
.checkout-container .right-section .discount-code {
  width: 100%;
  gap: 1rem;
}
.checkout-container .right-section .discount-code input {
  /* padding: 14px 16px; */
  padding: 10px 16px;
  border-radius: 4px;
  border: 1.5px solid #adadac;
  background-color: #fff;
  outline: none;
  width: 100%;
}

.checkout-container .right-section .discount-code input::placeholder {
  color: #adadac;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.checkout-container .right-section .discount-code button {
  padding: 13px 23px;
  border-radius: 4px;
  background-color: #adadac;
  border: 1.5px solid #adadac;
  color: var(--Text-2, #f3f3f3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .discount-code button:hover {
  filter: brightness(0.9);
}

/* ====================== subtotal ====================== */
.checkout-container .right-section .sub-total {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== total price ====================== */
.checkout-container .right-section .total .total-title {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .total .taxes {
  color: var(--Stroke, #acacac);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.checkout-container .right-section .total .total-price {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== LEFT-SECTION ====================== */
.checkout-container .left-section {
  padding-top: 75px;
  padding-left: 130px;
}

.checkout-container .left-section .paywith {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.checkout-container .left-section .payment-options {
  gap: 1rem;
  margin-top: 16px;
}

.checkout-container .left-section .payment-options label,
.checkout-container .left-section .payment-options input {
  cursor: pointer;
}

.checkout-container .left-section .payment-options input {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #999;
}
.checkout-container .left-section .payment-options input:focus-visible {
  outline-offset: 0;
}

.checkout-container .left-section .payment-options input:hover {
  border-width: 0;
}

.checkout-container .left-section .payment-options input:checked {
  box-shadow: 0 0 0 2px #fd9802;
  background-color: #fd9802;
  border-width: 0.2rem;
}

/* ====================== Card Form ====================== */
.checkout-container .left-section .forms {
  margin-left: 8%;
}
.checkout-container .left-section .forms form{
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.checkout-container .left-section .forms form .c-number{
  margin-bottom: 5%;
}
.checkout-container .left-section .forms form .c-number h6{
  font-size: 18px;
  font-weight: 400;
  color: var(--Text);
}
.checkout-container .left-section .forms form .c-number input{
  border: 1px solid #acacac;
  border-radius: 4px;
  width: 100%;
  height: 50px;

}

.checkout-container .left-section .forms form .expiration{
  display: flex;

  gap: 10%;
}

.checkout-container .left-section .forms form .expiration input{
  border: 1px solid #acacac;
  border-radius: 4px;
  width: 120%;
  height: 70%;

}

.checkout-container .left-section .forms form .btt{
  display: flex;
  flex-direction: column;

}

.checkout-container .left-section .forms form .btt .radio{
  margin-top: 5%;
  display: flex;
  gap: 2%;
}
.checkout-container .left-section .forms form .btt .radio h5{
  margin-top: 1.5%;
  color: #999;
  font-size: 15px;
  font-weight: 400;

}

.checkout-container .left-section  button{
background-color: #fd9802;
border-radius: 4px;
width: 100%;
height: 35px;
color: #f3f3f3  ;
font-size: 15px;
padding: 1%;
margin-bottom: 3%;

}
.checkout-container .left-section .forms p{
  color: #999;
  font-size: 18px;

}
/* ====================== Bank form====================== */
.checkout-container .left-section .forms .bank-form .bank select, .checkout-container .left-section .forms .bank-form .bank input{
  border: 1px solid #acacac;
  border-radius: 4px;
  width: 100%;
  height: 70%;  
}
.checkout-container .left-section form .squares{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  
}
.checkout-container .left-section .squares input{
  height: 50%;
  width: 10%;
  text-align: center;
  font-size: 200%;
  border-radius: 6px;
  border: 1px solid black;
}


.checkout-container .left-section .forms .bank-form .bank div{
  margin: 10% 0;
}
/* ====================== transfer form ====================== */

.checkout-container .left-section .transfer-form .transfer,.polaris{
display: flex;
text-align: center;
align-items: center;
flex-direction: column;
gap: 15px;
}
.checkout-container .left-section .transfer-form .transfer div{
  display: flex;  
}
.checkout-container .left-section .transfer-form .transfer span{
  color: red;
}