/* ====================== GENERAL STUFF ====================== */
.checkout-container .line-breaker {
  width: 100%;
  height: 1px;
  background: #acacac;
  margin: 36px 0;
}

.checkout-container .right-section-wrapper,
.checkout-container .left-section-wrapper {
  padding: 48px;
  width: 570px;
}

.checkout-container h1 {
  margin-bottom: -20px;
  color: var(--Text, #0a0d13);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.48px;
}
/* ====================== checkout container & wrapper ====================== */
.checkout-container {
  padding: 50px 153px 50px 135px;
  direction: ltr;
  height: 100vh;
}

.checkout-wrapper {
  gap: 18px;
  height: 100%;
}

/* ====================== RIGHT SECTION ====================== */

.checkout-container .right-section {
  border: 1px solid #d9d9d9;
  background: #f9fafa;
  padding-top: 75px;
  padding-right: 130px;
}

/* ====================== product-wrapper ====================== */
.checkout-container .right-section .product-wrapper {
  gap: 1rem;
}

.checkout-container .right-section .product-wrapper img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  object-fit: cover;
}

.checkout-container .right-section .product-wrapper .product-title {
  color: var(--Text, #0a0d13);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .product-wrapper .product-desc {
  color: var(--Stroke, #acacac);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .product-wrapper .product-price {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== discount wrapper ====================== */
.checkout-container .right-section .discount-code {
  width: 100%;
  gap: 1rem;
}
.checkout-container .right-section .discount-code input {
  /* padding: 14px 16px; */
  padding: 10px 16px;
  border-radius: 4px;
  border: 1.5px solid #adadac;
  background-color: #fff;
  outline: none;
  width: 100%;
}

.checkout-container .right-section .discount-code input::placeholder {
  color: #adadac;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.checkout-container .right-section .discount-code button {
  padding: 13px 23px;
  border-radius: 4px;
  background-color: #adadac;
  border: 1.5px solid #adadac;
  color: var(--Text-2, #f3f3f3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .discount-code button:hover {
  filter: brightness(0.9);
}

/* ====================== subtotal ====================== */
.checkout-container .right-section .sub-total {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== total price ====================== */
.checkout-container .right-section .total .total-title {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.checkout-container .right-section .total .taxes {
  color: var(--Stroke, #acacac);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.checkout-container .right-section .total .total-price {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

/* ====================== LEFT-SECTION ====================== */
.checkout-container .left-section {
  padding-top: 75px;
  padding-left: 130px;
}

.checkout-container .left-section .paywith {
  color: var(--Text, #0a0d13);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.checkout-container .left-section .payment-options {
  gap: 1rem;
  margin-top: 16px;
}

.checkout-container .left-section .payment-options label,
.checkout-container .left-section .payment-options input {
  cursor: pointer;
}

.checkout-container .left-section .payment-options input {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #999;
}
.checkout-container .left-section .payment-options input:focus-visible {
  outline-offset: 0;
}

.checkout-container .left-section .payment-options input:hover {
  border-width: 0;
}

.checkout-container .left-section .payment-options input:checked {
  box-shadow: 0 0 0 2px #fd9802;
  background-color: #fd9802;
  border-width: 0.2rem;
}
