/* HomePage Hero Start */
#homepage-hero{    
    width: 100%;
    height: 620px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0.50) 5.88%, rgba(0, 0, 0, 0.00) 89.44%), url(../media/main/hero.png), lightgray -295.518px -223.336px / 121.996% 220.068% no-repeat;
    background-size: cover;

    display: flex;
    justify-content: right;
    align-items: center;
}
#homepage-hero .content{
    margin-right: 100px;
}
#homepage-hero .content >*{
    margin-bottom: 30px;
}
#homepage-hero .content h1{
    color: #FFF;

    text-align: right;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}
#homepage-hero .content h6{
    width: 522px;
    color: #FFF;

    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
}
#homepage-hero .content button{
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    background-color: var(--second-color);
}
#homepage-hero .content button a{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

/* HomePage Hero Endd */