@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

:root {
  --main-color: #000000;
  --second-color: #fd9802;
  --White: #ffffff;
  --Gray: #fafafa;

  --font: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
body {
  direction: rtl;
  min-height: 100vh;
  font-family: var(--font);
}


/*##############################################*/
/*############# Discount Bar Start #############*/
/*##############################################*/
#discountbar {
  position: relative;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 0; */
}
#discountbar h1 {
  background-color: #fff;
  color: var(--second-color);

  text-align: center;
  font-size: clamp(12px, 2vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 29.4px;
}
#discountbar .close {
  position: absolute;
  left: 10px;
  top: 10px;

  color: black;
  cursor: pointer;
}
#discountbar .close:hover {
  color: var(--second-color);
}


/*#############################################*/
/*############# Main Navbar Start #############*/
/*#############################################*/
#main-navbar{
  max-width: 100vw;
  height: 90px;
  padding: 0 100px; 
  
  
  color: #fff;
  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-navbar .logo {
  width: clamp(150px, calc((100vw) *.19), 210px);
  height: clamp(40px, calc((100vw) *.0475), 55px);
  
  background-image: url(../media/main/logo-light.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-navbar .navbar-content {
  display: flex;
  column-gap: 40px;
}

#main-navbar .navbar-content .part a {
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  text-decoration: none;

  transition-duration: 0.3s;
}
.navbar-active,
#main-navbar a:hover {
  color: var(--second-color) !important;
}
#main-navbar .search{
    position: relative;
    width: auto;
}
#main-navbar .search .navbar-searchbar{
    width: clamp(130px, calc(100vw * 0.13), 280px);
    height: clamp(25px, calc(100vw * 0.033), 40px);
    border: none;
    border-radius: 12px;
    padding: 9px 23px 9px 16px;

    display: inline-flex;
    align-items: flex-end;
    background: var(--Gray);  
}
#main-navbar .search input::placeholder {
  color: rgba(8, 8, 8, 0.25);

  font-size: 18px;
  font-weight: 500;
  text-align: right;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  font-feature-settings: "clig" off, "liga" off;
}

#main-navbar .search .navbar-search-submit-icon{
    background-color: transparent;
    color: rgba(8, 8, 8, 0.25);
    width: 0px;
    height: 0px;

    position: absolute;
    left: 0;
    top: 25%;
    transform: translateX(30px);
}
#main-navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#main-navbar .user .cart{
  width: clamp(18px, calc(100vw * .0155), 26px);
  height: clamp(18px, calc(100vw * .0155) , 26px); 
}
#main-navbar .user > * {
  color: #ffffff;
}
#main-navbar .user .profile{
    justify-content: center;
    align-items: center;
}
#main-navbar .user .profile .user-image{
    width: 70px;
    height: 70px;
    border-radius: 12px;

  background-image: url(../media/default/profile_picture/profile.png);
  background-position: center;
  background-size: cover;
}
#main-navbar .user .profile .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-right: 10px;
}
#main-navbar .user .profile .name a {
  font-size: 20px;
  color: #ffffff;
  transition-duration: 0.3s;
  font-weight: 700;
}
#main-navbar .user .profile .name a:last-child {
  font-size: 15px;
  font-weight: 500;
}


#mobile-main-navbar{
    visibility: hidden;
    display: fixed;
    width: 101%;
    height: 90px;

    position:fixed;
    left: 0;
    bottom: -1px;
    z-index: 1011;
    background-color: #000;
}
#mobile-main-navbar .container{
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center
}
#mobile-main-navbar .container >*{
    width: 20%;
}
#mobile-main-navbar .icon{
    padding: 25px 0px 30px 0;
}
#mobile-main-navbar .icon svg{
  width: clamp(22px, calc(100vw *.09), 36px);
  height: clamp(22px, calc(100vw * .09), 36px);
}
#mobile-main-navbar .icon h1{
    color: #FFF;

    font-size: clamp(10px, calc(100vw * .018), 14px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-family: "Avenir Arabic";

    margin-top: 5px;
}
#mobile-main-navbar .mobile-navbar-active-icon{
    color: var(--second-color);
    border-top: 6px solid var(--second-color) !important;
}
#mobile-main-navbar .mobile-navbar-active-svg path, .mobile-navbar-active-icon a h1{
    color: var(--second-color) !important;
    stroke: var(--second-color);
}


/*############# Main-Navbar responsive #############*/
/* Responsive for mobiles */
@media (max-width: 767px) {
    body{
        margin-bottom: 90px;
    }
    #main-navbar .navbar-content, #main-navbar .search, #main-navbar .user{
        display: none;
    }
    #main-navbar{
      height: 85px;
      padding: 0 5vw;
      justify-content: center;
    }
    #main-navbar .logo{
      width: clamp(150px, calc((100vw) *.24), 210px);
      height: clamp(40px, calc((100vw) *.065), 55px);
    }
    #mobile-main-navbar{
        visibility: visible;
    }
    
}

/* Responsive for tablets */
@media (min-width: 768px) and (max-width: 1410px) {
    #main-navbar{
        padding: 0 35px;
    }
    #main-navbar .navbar-content{
        display: flex;
        column-gap: 20px;
    }
    #main-navbar .search input::placeholder{
        font-size: 14px;
    }
    
    #main-navbar .search .navbar-search-submit-icon{
        width: auto;
        height: auto;
    
        position: absolute;
        right: 80%;
        top: 50%;
        transform: translateY(-50%);
    }
    #main-navbar .user{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
    }
    #main-navbar .user >*{
        color: #fff;
    }
    #main-navbar .user .profile .user-image{
        width: 40px;
        height: 40px;
    }
    #main-navbar .user .profile .name{
        margin-right: 5px;
    }
    #main-navbar .user .profile .name a{
        font-size:11px;
    }
    #main-navbar .user .profile .name a:last-child{
        font-size: 7px;
    }
    
}
@media (min-width: 1200px) and (max-width: 1410px) {
    #main-navbar{
        padding: 0 65px;
    }
    
    #main-navbar .navbar-content .part a{
        font-size: 18px;
    }
    #main-navbar .user{
        gap: 20px; 
    }
    #main-navbar .user .profile .name a{
        font-size:16px;
    }
    #main-navbar .user .profile .name a:last-child{
        font-size: 10px;
    }    
}
@media (min-width: 768px) and (max-width: 1000px) {
    #main-navbar{
        padding: 0 25px;
    }
    #main-navbar .navbar-content .part a{
        font-size: 12px;
    }
    #main-navbar .search .navbar-searchbar{
        border: none;
        border-radius: 12px;
        padding: 9px 10px 9px 16px;  
    }
    #main-navbar .search .navbar-search-submit-icon svg{
        width: 14px;
        height: 14px;
    }
    #main-navbar .search input::placeholder{
        font-size: 11px;
    }
    #main-navbar .user{
        gap: 20px; 
    }
    #main-navbar .user .profile .user-image{
        width: 35px;
        height: 35px;
    }
}


/*#########################################*/
/*############# Footer Start #############*/
/*#########################################*/
#main-footer {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #f4f4f4;
}
#main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
#main-footer .container a {
  color: #000;

  text-align: right;
  font-size: clamp(18px, 2vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 50px;

  transition-duration: 0.3s;
}
#main-footer .container a:hover {
  font-size: 20px;
  font-weight: 700;
  color: var(--second-color);
}
#main-footer .container > * {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}
#main-footer .breaf {
  gap: 30px;
  width: 50%;
}
#main-footer .breaf .logo {
  width: clamp(180px, calc((100vw) *.17), 288px);
  height: clamp(48px, calc((100vw) *.045), 78px);
  background-image: url(../media/main/logo-dark.png);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-footer .breaf .discreption {
  width: 80%;
  color: #000;
  text-align: right;
  font-size: clamp(12px, 1.5vw, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 29.2px;
}
#main-footer .content {
  width: clamp(150px ,20%, 200px);
}
#main-footer .contact {
  width: clamp(150px ,20%, 200px);
}

/*############# Footer responsive #############*/
/* Responsive for mobiles */
@media (max-width: 768px) {
  #main-footer {
    height: auto;
    padding: 50px 0;
  }
  #main-footer .container {
    flex-direction: column;
    height: auto;
    row-gap: 20px;
  }
  #main-footer .container > * {
    align-items: center;
    text-align: center;
  }
  #main-footer .breaf {
    gap: 30px;
    width: 80%;
  }
  #main-footer .breaf .discreption {
    width: 100%;
    text-align: center;
  }
}


/*##############################################*/
/*############# Discound Bar Start #############*/
/*##############################################*/
#copyright-service {
  background-color: #fff;
  position: relative;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright-service h1 {
  color: var(--second-color);

  text-align: center;
  font-size: clamp(12px ,2vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 29.2px;
}


/* ########################################################## */
/* ####################### CARD STYLES ###################### */
/* ########################################################## */
.course-preview-card {
  width: 285px;
  height: 436px;
  flex-shrink: 0;
  position: relative;
  border: none;
}

.course-preview-card .best-seller {
  position: absolute;
  top: 8px;
  right: 1px;
  display: flex;
  width: 70px;
  padding: 0px 5px 2px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--second-color);
  color: #000;
  text-align: right;
  font-family: "Segoe UI", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.course-preview-card .card-pic {
  width: 100%;
  height: 157px;
  flex-shrink: 0;
  object-fit: cover;
}

.course-preview-card .category {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 7px;
}

.course-preview-card .title {
  color: #000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 5px;
}

.course-preview-card .author,
.course-preview-card .description,
.course-preview-card .rating-box {
  color: #000;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}

.course-preview-card .description,
.course-preview-card .rating-box {
  color: #848484;
}

.course-preview-card .rating-box {
  font-family: "Segoe UI";
  line-height: 19px;
  display: flex;
  padding: 2px 0px 0.51px 132px;
  align-items: flex-start;
  gap: 8.61px;
  align-self: stretch;
  margin-top: 20px;
}

.course-preview-card .rating-box .rating {
  gap: 6px;
}

.course-preview-card .price-box {
  display: flex;
  gap: 11px;
  font-family: "Segoe UI", sans-serif;
  color: var(--second-color);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}

.course-preview-card .price-box .price {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.course-preview-card .price-box .price-discount {
  font-family: "Cairo";
}

.course-preview-card .buy-button {
  width: 248px;
  height: 48px;
  min-height: 24px;
  padding: 12px 32.45px;
  align-self: stretch;
  border-radius: 2px;
  background: #000;
  color: #fff;
  text-align: right;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  cursor: pointer;
}


/* ####################################### */
/* ########## Scroll BUttons ###########*/
/* ####################################### */
.scroll-buttons {
  display: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 100%;
  margin-top: 34px;
  margin-inline: auto;
}

.scroll-buttons .left,
.scroll-buttons .right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #e3e3e3;
  color: #000;
  cursor: pointer;
}

.scroll-buttons .left:hover,
.scroll-buttons .right:hover,
.scroll-buttons .left:active,
.scroll-buttons .right:active {
  background: #000;
  color: #e3e3e3;
}
/* ####################################### */
/* ########## General CSS USES ###########*/
/* ####################################### */

/* ############ Display Flex ############# */
.flex {
  display: flex;
  gap: 10px;
}

/* ############ Working Border ############# */
.borderr {
  border: 2px solid red;
}

/* ######## Scrollbar Customization ######## */

@media screen and (min-width: 1100px) {
  ::-webkit-scrollbar {
    width: 16px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--second-color);
    opacity: 0.8;
  }
}
