*{
    transition: 0.3s;
}

.cont{
    width: auto;
    height: 60px;;
    border-radius: 8px;
    border: 2px solid black;
}
.page-item, .page-link, .page-link-nav{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none !important;

    width: 50px;
    height: 100%;

    color: var(--main-color);
}
.page-item-nav{
    width: 100%;
    height: 100%;
}
.page-link-nav{
    width: 100%;
    height: 60% !important;
}
.page-link-nav svg{
    width: 12px;
    height: 12px;
    font-weight: 700;
}
.page-link{
    padding: 0 !important;
    background-color: transparent !important;
}
.page-item:hover{
    background-color: rgba(0, 0, 0, 0.07);
}
.page-link:hover, .page-item-nav:hover h6{
    color: var(--main-color);
    font-weight: 700;
}
.pagination-active{
    background-color: rgba(0, 0, 0, 0.07);
    border: 2px solid var(--main-color) !important;
    border-top: none !important;
    border-bottom: none !important;
}
.prev {
    width: 100px;
    margin-left: -2px;
}
.prev .page-link-nav{
    border-left: 1px solid var(--main-color) !important;
}
.next {
    width: 100px;
    margin-right: -2px;
}
.next .page-link-nav{
    border-right: 1px solid var(--main-color) !important;
}